.row
  .col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
    %h1.text-center
      Movies by genre:
      = @genre.name
    %table.table.table-striped
      %tbody
        = render partial: 'movies/movie', collection: @genre.movies, cached: true, as: :movie
