.row
  .col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
    %h1.text-center Movies
    %table.table.table-striped
      %tbody
        = render partial: 'movie', collection: @movies, cached: true, as: :movie
